.container {
    display: flex;
    justify-content: center;
}

.texts {
    flex: 3;
}

.mandatory-2 {
    flex: 1;
    align-self: center;
}

.mandatory-1,
.mandatory-2,
.content {
    background: #b3e888;
    padding: 1em;
    margin-left: 5px;
    margin-top: 0;
}
